header{
    width: 100%;
    height: 100px;
    background-color: brown;
}

.switch input{
    display: none;

}

.switch .rounded{
    background-color: #fff;
    border: 3px solid #bdc3c7;
    width: 4px;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 8px;
}