html{
    background-color: white;
}

body{
    background-color: white;
    width: 960px;
    height: auto;
    margin:auto;
}

header{
    width: 100%;
    height: 100px;
    background-color: #FEAA00;
    text-align: center;
    line-height: 1em;
    font-family: fantasy;
    font-size: 500%;
    border-radius: 10px;
}

label[class='switch'] input{
    display: none;

}

.box{
    display: inline-block;
    width: 33%;
    height: 110px;
    background-color: #77FE00;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
}

.box_content{
    background-color: #00FE99;
    border-color: black;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    width: 70%;
    height: 70px;
    border-radius: 10px;
}

.box_content:hover{
    color: black;
    border-radius: 10px;
    background-color: #00FED4;
    transition: 0.3s all;
}

.switch_span{
    width: 79px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 30px;
}

.switch_span .switch_span_container{
    width: 130px;
    height: 28px;
    display: inline-block;
    margin-left: -51px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.switch_span .on, .switch_span .off{
    float: left;
    display: inline-block;
    background-color: #27ae60;
    width: 50%;
    height: 20px;
    padding: 4px 0;
    text-align: center;
    color: white;
    font-size: 15px;
    position: relative;
    z-index: 1;


}

.switch_span .on{
    border-radius: 30px 0 0 30px;
}

.switch_span .off{
    background-color: #e74c3c;
    border-radius: 0px 30px 30px 0px;
}

.switch_span .mid{
    position: relative;
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    margin-left: -14px;
    margin-right: -14px;
    background-color: white;
    z-index: 2;
    border: 4px solid #e74c3c;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.switch_span input:checked + .switch_span_container{
    margin: 0;
}

.switch_span input:checked + .switch_span_container .mid{
    border-color: #27ae60;
}

.img {
    text-align: center;
}

footer{
    font-family: sans-serif;
}